/* MMM-ImageInfo CSS */

.image-info {
    text-align: right;
    padding: 5px 10px;
    border-radius: 10px;
    width: 95%;
    padding-right:5px;
}

.image-filename {
    font-size: 0.4em;
    margin-bottom: 3px;
    color: #aaaaaa;
}

.image-date {
    font-size: 0.8em;
    opacity: 0.8;
}
